body {
  padding: 0;
  margin: 0;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.wallpapertip.com%2Fwpic%2FTwwwRb_new-york-yellow-taxi-wallpaper-new-york-city%2F&psig=AOvVaw0Qa8RnzWEfgWQAhRVX6J9K&ust=1632300905043000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKDH4_TYj_MCFQAAAAAdAAAAABAJ");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

* {
  box-sizing: border-box;
}