header {
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 10000;
  width: 100%;
  box-shadow: 0px 5px 10px #fcde6c;
}

.header-section {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

.header {
  padding: 0;
  margin: 0;
}

.header__nav {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//HEADER HIDDEN MENU

.header__hidden-section {
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 0;
  margin: 0;
  background-color: $color-secondary-back;
  transform: translateY(-200px);
  transition: all .3s ease;
  padding: 20px 0;

  &.active {
    transform: translateY(70px);
  }
}


.header__hidden-button {
  background-color: transparent;
  border: none;
  outline: none;
}

.header__hidden-button:active svg {
  fill: #fcde6c;
}

.header__hidden__list {
  @include list-unstyled;
  // padding-top: 90px;
  // padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__hidden__item~.header__hidden__item {
  margin-left: 30px;
}

.header__hidden__link {
  @include site-font-family;
  @include link-unstyled;
  color: $color-primary-text;
  font-weight: 500;
  font-size: 16px;
}


.site-logo {
  @include site-logo;
  @include site-font-family;
  color: $color-secondary-text;
  font-weight: 900;
  font-size: 32px;
  padding: 0;
  margin: 0;
  position: relative;
  top: 9px;
}

.header__list {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.header__item {
  font-size: 16px;
  text-transform: uppercase;
}

.header__item~.header__item {
  margin-left: 36px;
}

.header__link {
  @include link-unstyled;
  @include site-font-family;
  color: $color-primary-text;
}

.header__link-active {
  color: #fcde6c;
  padding-bottom: 10px;
  border-bottom: 2px solid $color-secondary-text;
}

.header__menu-icon {
  display: none;
  position: relative;
  cursor: pointer;
  top: 3px;
}

.header__item {
  @include link-unstyled;
  @include site-font-family;
  color: $color-primary-text;
}

.header__link:hover {
  color: $color-secondary-text;
  transition: 0.3s ease;
}

.header__item:hover {
  transition: 0.3s ease;
  transform: translateY(-5px);
}

.header__item:active {
  opacity: 60%;
}

@include breakpoint-down (940px) {
  .header__item~.header__item {
    margin-left: 24px;
    color: red;
  }
}

@include breakpoint-down (790px) {
  .header__item~.header__item {
    margin-left: 12px;
  }
}

@include breakpoint-down (720px) {
  .header__item {
    font-size: 14px;
  }
}

@include breakpoint-down (660px) {
  .header__list {
    display: none;
  }

  .header__menu-icon {
    display: block;
  }
}

@include breakpoint-down (390px) {

  .header__hidden__list {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .header__hidden__item {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}